{% extends "base.html" %}


{% block content %}
<div class="container text-center mt-5 jumbotron text-light" style="margin-bottom:100px; background-color:rgba(0,0,0,.7);">
	<h1>{{event.title}}</h1>
	<p>{{event.description}}</p> <br>
	<h4>When: {{event.date}} {{event.time}}</h4>
	<h4>Where: {{event.location}}</h4>
	<h4>Organized by:<a href="{% url 'view-profile' event.owner %}"> {{event.owner}}</a></h4>
	<h4>Tickets left: {{event.get_seats_left}}</h4><br> 

	
	{% if request.user == event.owner %}
	<a href="{% url 'update-event' event.id %}" class="btn btn-primary">Modify</a>
	{% endif %}

	{% if event.get_seats_left > 0 %}

	<form action="{% url 'book-event' event.id %}" method="GET">
		<div class="input-group my-3">
			<input type="text" class="form-control" placeholder="Number of tickets" name="num">
			<div class="input-group-append">
				<button class="btn btn-outline-secondary" type="submit" id="button-addon2">Book</button>
			</div>
		</div>
	</form>


	{% else %}
	<br><br><a class="btn btn-primary">Full</a>	
	{% endif %}


</div>	




{% if request.user == event.owner and event.bookings.all|length > 0 %}


<div class="container">
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">User</th>
				<th scope="col">Tickets</th>
				<th scope="col">Date and Time of Booking</th>


				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for booker in bookers %}
			<tr>
				<th scope="row">{{booker}}</th>
				<td>{{booker.tickets}}</td>
				<td>{{booker.time}}</td>

			</tr>
			{% endfor %}


		</tbody>
	</table>
</div>

{% endif %}

{% endblock content %}