{% extends "base.html" %}
{% load tagg %}
{% block content %}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">All the events,</h1>
      <h2 class="masthead-subheading mb-0">You could ever want...</h2>
      {% if request.user.is_anonymous %}
      <a href="{% url 'signup' %}" class="btn btn-primary btn-xl rounded-pill mt-5">Sign up to find events!</a>
      {% else %}
      <a href="{% url 'event-list' %}" class="btn btn-primary btn-xl rounded-pill mt-5">Search for events!</a>
      {% endif %}
    </div>
  </div>
  
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
  
</header>


<div class="container mt-5"><h1 style="text-align:center;" id="tit">Upcoming Events</h1></div>
<div class="row mt-5 mx-5">
  {% for event in upcoming_events %}
  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mb-5">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{event.title}}</h5>
        <p class="card-text">{{event.description}}<br>When: {{event.date}} {{event.time}}</p>
        <a href="{% url 'event-detail' event.id %}" class="btn btn-primary">View Event</a>
      </div>
    </div>


  </div>
  {% endfor %}

</div>


{% endblock %}